.sharp-field-file {

  .sharp-file {
    height:auto;
    min-height: 34px;
    position: relative;

    .add-btn {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      border: none;
    }
  }

  .dz-preview {
    background: white;
    .clearfix;
    position: relative;

    .close {
      position: absolute;
      top: 0;
      right: 0;
    }

    .dz-progress {
      background: #dddddd;
      position: absolute;
      bottom:-1px;
      left:-1px;
      right:-1px;

      .dz-upload {
        background: @sharp-contexbar-bg;
        height:10px;
      }
    }

    .dz-details {
      color:black;

      .dz-size,
      .dz-filename {
        display: block;
      }
    }

    &.dz-complete .dz-progress {
      display: none;
    }

  }

}