.sharp-field-list {
  .sharp-list {
    margin-bottom: 0;
    .sharp-list-item {
      padding: 5px;
      .form-group { margin-bottom: 8px; }
      .sharp-list-remove { padding:6px 0; }
    }
    .sharp-list-item-add {
      background: none; border:none;
      .sharp-list-add { display: block; }
    }
  }
}